<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= task.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= task.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= task.day %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= task.complete %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>

</div>
